apiVersion: v1
kind: Service
metadata:
  name: coordinates-api-svc
spec:
  type: NodePort
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30080